extends ./view/layout/layout.pug
block titlePage
  title Ôn tập và Testing Javascript từ khoá học
append mainHeading
  h1 Ôn tập và Testing Javascript 
block modules 
  //- include ./inc/modules/notify/noti.pug
block main 
  .main(style="min-height: 300px")