@charset "UTF-8";
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  scroll-margin-top: 50px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
@media screen and (max-width: 1200px) {
  .container {
    padding-inline: 15px;
  }
}

.container-fluid {
  width: 100%;
  padding-inline: 15px;
}

section {
  margin-top: 40px;
  margin-bottom: 40px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

strong {
  font-weight: bold;
  color: inherit;
}

b {
  font-weight: bold;
}

body {
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
}

.btn-zalo {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: #1a2c75;
  padding: 8px 10px;
}

.btn_product_ver1 {
  --width: 90px;
  --height: 40px;
}
.btn_product_ver1 {
  display: flex;
}
.btn_product_ver1 {
  flex-direction: row;
}
.btn_product_ver1 {
  align-items: center;
}
.btn_product_ver1 {
  justify-content: center;
}
.btn_product_ver1 {
  color: #fff;
  width: var(--width);
  height: var(--height);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.btn_product_ver1::before {
  display: flex;
}
.btn_product_ver1::before {
  flex-direction: row;
}
.btn_product_ver1::before {
  align-items: center;
}
.btn_product_ver1::before {
  justify-content: center;
}
.btn_product_ver1::before {
  content: "Liên hệ";
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  transform: translateY(calc(var(--height) - 10px));
  transition: transform ease-in-out 0.2s;
}
.btn_product_ver1 span {
  transform: translateY(0);
  transition: transform ease-in-out 0.2s;
}
.btn_product_ver1:hover span {
  transform: translateY(calc(-1 * var(--height)));
}
.btn_product_ver1:hover::before {
  transform: translateY(0);
}

.btn-product-2 {
  display: flex;
}
.btn-product-2 {
  flex-direction: row;
}
.btn-product-2 {
  align-items: center;
}
.btn-product-2 {
  justify-content: center;
}
.btn-product-2 {
  padding: 8px 12px;
  background-color: #1a2c75;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}
.btn-product-2 span {
  transform: translateY(0);
  transition: transform ease 0.2s;
}
.btn-product-2::before {
  display: flex;
}
.btn-product-2::before {
  flex-direction: row;
}
.btn-product-2::before {
  align-items: center;
}
.btn-product-2::before {
  justify-content: center;
}
.btn-product-2::before {
  content: "Liên hệ";
  position: absolute;
  inset: 0;
  transform: translateY(120%);
  transition: all ease 0.2s;
}
.btn-product-2:hover span {
  transform: translateY(-150%);
}
.btn-product-2:hover::before {
  transform: translateY(0%);
}

.owl-carousel .owl-nav {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  border-radius: 100rem;
  color: #1a2c75 !important;
  transition: all linear 0.3s;
}
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
  background-color: #1a2c75 !important;
  color: #fff !important;
}
.owl-carousel .owl-nav .owl-prev span,
.owl-carousel .owl-nav .owl-next span {
  font-size: 20px;
}
.owl-carousel .owl-dots .owl-dot.active span {
  background-color: #1a2c75;
}

.btn-order {
  background-color: #1a2c75;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all linear 0.1s;
}
.btn-order:hover {
  background-color: #b59d78;
  color: #1a2c75;
}

.btn-see-more-products {
  display: block;
  margin-top: 20px;
  margin-inline: auto;
  width: fit-content;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #e4e4e4;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  color: #333;
  transition: all linear 0.3s;
}
.btn-see-more-products span {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: inherit;
}
.btn-see-more-products:hover {
  background-color: #1a2c75;
  border-color: #1a2c75;
  color: #fff;
}

.category-item-1-wrapper {
  display: block;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .category-item-1-wrapper {
    height: fit-content;
  }
}
.category-item-1-wrapper:hover .category-item-1-image img {
  transform: scale(1.1);
}
.category-item-1-wrapper:hover .category-item-1-content {
  bottom: 0px;
}
.category-item-1-image {
  border-radius: 12px;
  overflow: hidden;
}
.category-item-1-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.5s cubic-bezier(0.2, 1, 0.2, 1), transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}
.category-item-1-content {
  width: 100%;
  padding-inline: 15px;
  padding-top: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  left: 0;
  bottom: -30px;
  transition: all ease 0.3s;
}
@media screen and (max-width: 576px) {
  .category-item-1-content {
    bottom: -22px;
    padding: 0px 8px;
    height: auto;
  }
  .category-item-1-content {
    display: flex;
  }
  .category-item-1-content {
    flex-direction: column;
  }
  .category-item-1-content {
    align-items: center;
  }
  .category-item-1-content {
    justify-content: stretch;
  }
}
.category-item-1-title {
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  font-size: 15px;
  margin-block: unset;
}
@media screen and (max-width: 768px) {
  .category-item-1-title {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: unset;
  }
}
@media screen and (max-width: 576px) {
  .category-item-1-title {
    padding-block: 2px;
    line-height: 1.2rem;
    text-align: left;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.category-item-1-count {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  line-height: 36px;
}
@media screen and (max-width: 576px) {
  .category-item-1-count {
    font-size: 14px;
    line-height: 24px;
  }
}

.category-item-2-wrapper:hover .category-item-2-image img {
  transform: scale(1);
}
.category-item-2-wrapper:hover .category-item-2-image::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.category-item-2-wrapper:hover .category-item-2-count {
  opacity: 1;
  transform: translateY(0px);
}
.category-item-2-wrapper:hover .category-item-2-title-text {
  transform: translateY(0px);
}
.category-item-2-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.category-item-2-image {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}
.category-item-2-image::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
  z-index: 200;
}
.category-item-2-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  z-index: 300;
  transition: all ease 0.3s;
}
.category-item-2-image img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: all ease 0.3s;
}
.category-item-2-title {
  display: flex;
}
.category-item-2-title {
  flex-direction: column;
}
.category-item-2-title {
  align-items: center;
}
.category-item-2-title {
  justify-content: center;
}
.category-item-2-title {
  position: absolute;
  inset: 0;
  z-index: 500;
}
.category-item-2-title-text {
  padding: 12px 15px;
  border-radius: 100rem;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  transform: translateY(15px);
  transition: all ease 0.3s;
  color: #1a2c75;
}
.category-item-2-count {
  color: #fff;
  font-size: 14px;
  height: fit-content;
  margin-top: 10px;
  transform: translateY(20px);
  opacity: 0;
  transition: all ease 0.2s;
  transition-delay: 0.1s;
}

.category-item-3-item {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}
.category-item-3-item-link {
  position: relative;
}
.category-item-3-item-image {
  border-radius: 12px;
  overflow: hidden;
}
.category-item-3-item-image img {
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.5s cubic-bezier(0.2, 1, 0.2, 1), transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}
.category-item-3-item-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding-inline: 15px;
  padding-top: 10px;
  padding-bottom: 4px;
  width: 100%;
  position: absolute;
  bottom: -28px;
  left: 0;
  transition: all ease-in-out 0.2s;
}
.category-item-3-item-title {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
.category-item-3-item-count {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}
.category-item-3:hover .category-item-3-image img {
  transform: scale(1.1);
}
.category-item-3:hover .category-item-3-content {
  bottom: 0;
}

.product-item-1-wrapper {
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.product-item-1-wrapper:hover .product-item-1-image img {
  transform: scale(1.1);
}
.product-item-1-wrapper:hover .product-item-1-hover {
  opacity: 1;
}
.product-item-1-wrapper:hover .product-item-1-content {
  visibility: visible;
}
.product-item-1-wrapper:hover .product-item-1-button {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .product-item-1-wrapper:hover .product-item-1-button {
    transform: unset;
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 992px) {
  .product-item-1-wrapper {
    box-shadow: unset;
    padding: 5px;
  }
}
.product-item-1-link {
  display: block;
  position: relative;
}
.product-item-1-image {
  aspect-ratio: 1/1;
  border-radius: 12px;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .product-item-1-image {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
.product-item-1-image img {
  width: 100%;
  border-radius: 12px;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform ease 0.3s;
}
.product-item-1-hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: absolute;
  inset: 0;
  transition: opacity ease-in-out 0.3s;
}
.product-item-1-hover {
  display: flex;
}
.product-item-1-hover {
  flex-direction: column;
}
.product-item-1-hover {
  align-items: center;
}
.product-item-1-hover {
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .product-item-1-hover {
    background-color: unset;
    position: static;
    opacity: unset;
  }
}
.product-item-1-content {
  height: fit-content;
  padding: 20px;
  visibility: hidden;
}
@media screen and (max-width: 992px) {
  .product-item-1-content {
    padding-inline: 4px;
    visibility: visible;
    padding: unset;
  }
}
.product-item-1-title {
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
  padding-inline: 10px;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .product-item-1-title {
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: unset;
    color: #1a2c75;
    font-weight: 700;
    font-size: 15px;
    padding-inline: 10px;
    overflow: hidden;
  }
}
@media screen and (max-width: 576px) {
  .product-item-1-title {
    padding-inline: unset;
    text-align: left;
  }
}
.product-item-1-button {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 8px 12px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: all ease 0.3s;
}
.product-item-1-button span {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .product-item-1-button {
    margin-top: 10px;
    margin-inline: auto;
    border: unset;
    background-color: #1a2c75;
    opacity: unset;
    visibility: visible;
    transform: unset;
    position: static;
  }
  .product-item-1-button:hover {
    background-color: #b59d78;
  }
}

.product-item-2-wrapper {
  border-radius: 12px;
}
.product-item-2-wrapper {
  display: flex;
}
.product-item-2-wrapper {
  flex-direction: column;
}
.product-item-2-wrapper {
  align-items: center;
}
.product-item-2-wrapper {
  justify-content: center;
}
.product-item-2-wrapper {
  gap: 10px;
}
.product-item-2-image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.product-item-2-image:hover img {
  transform: scale(1.1);
}
.product-item-2-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
}
.product-item-2-title {
  color: #1a2c75;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3rem;
  padding-inline: 8px;
  text-align: center;
  transition: color ease 0.2s;
}
.product-item-2-title:hover {
  color: #b59d78;
}
@media screen and (max-width: 768px) {
  .product-item-2-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
@media screen and (max-width: 576px) {
  .product-item-2-title {
    font-size: 14px;
  }
}
.product-item-2-cats {
  color: #b59d78;
  font-size: 12px;
  font-weight: 500;
  padding-inline: 8px;
  text-align: center;
  width: 100%;
}

.product-item-3-wrapper {
  display: flex;
}
.product-item-3-wrapper {
  flex-direction: column;
}
.product-item-3-wrapper {
  align-items: flex-start;
}
.product-item-3-wrapper {
  justify-content: space-between;
}
.product-item-3-wrapper {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  overflow: hidden;
  max-height: 380px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .product-item-3-wrapper {
    min-width: unset;
  }
}
.product-item-3-wrapper:hover .product-item-3-hover {
  transform: translateY(-60px);
}
.product-item-3-wrapper:hover .product-item-3-image-first {
  visibility: hidden;
  opacity: 0;
}
.product-item-3-wrapper:hover .product-item-3-image-last {
  transform: scale(1.05);
}
.product-item-3-link {
  display: block;
  width: 100%;
}
.product-item-3-image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.product-item-3-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.product-item-3-image-first {
  visibility: visible;
  opacity: 1;
  transition: all linear 0.3s;
  position: absolute;
  inset: 0;
  z-index: 100;
}
.product-item-3-image-last {
  transform: scale(1);
  transition: all linear 3s;
  transition-duration: 0.5s;
}
.product-item-3-hover {
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-top: 10px;
  transform: translateY(0);
  z-index: 500;
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.5s cubic-bezier(0.2, 1, 0.2, 1), transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}
.product-item-3-content {
  display: flex;
}
.product-item-3-content {
  flex-direction: column;
}
.product-item-3-content {
  align-items: flex-start;
}
.product-item-3-content {
  justify-content: space-between;
}
.product-item-3-content {
  gap: 4px;
}
.product-item-3-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.product-item-3-title {
  display: flex;
}
.product-item-3-title {
  flex-direction: row;
}
.product-item-3-title {
  align-items: center;
}
.product-item-3-title {
  justify-content: space-between;
}
.product-item-3-title {
  gap: 15px;
}
.product-item-3-title a {
  flex: 0 0 75%;
  color: #1a2c75;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.product-item-3-rating {
  flex: 1 1 25%;
  text-align: center;
}
.product-item-3-rating span {
  font-size: 14px;
  color: #1a2c75;
  font-weight: 700;
}
.product-item-3-rating i.fa-star {
  color: #eabf12;
  font-size: 18px;
  margin-left: 8px;
}
.product-item-3-cate a {
  color: #1a2c75;
  font-size: 14px;
  font-weight: 500;
}
.product-item-3-btn {
  display: flex;
}
.product-item-3-btn {
  flex-direction: row;
}
.product-item-3-btn {
  align-items: center;
}
.product-item-3-btn {
  justify-content: space-between;
}
.product-item-3-btn {
  gap: 4px;
}
.product-item-3-btn {
  width: 100%;
  margin-top: 10px;
}
.product-item-3-btn-hotline, .product-item-3-btn-zalo {
  color: #fff;
  border: none;
  outline: unset;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 12px;
  font-weight: 700;
  font-size: 15px;
  transition: all ease 0.2s;
}
@media screen and (max-width: 768px) {
  .product-item-3-btn-hotline, .product-item-3-btn-zalo {
    font-size: 12px;
    font-weight: 600;
  }
}
.product-item-3-btn-hotline:hover, .product-item-3-btn-zalo:hover {
  background-color: #1a2c75;
  color: #fff;
}
.product-item-3-btn-zalo {
  background-color: #1e73be;
}
.product-item-3-btn-hotline {
  background-color: transparent;
  border: 1px solid #1a2c75;
  color: #1a2c75;
}

.product-item-4-item {
  overflow: hidden;
}
.product-item-4-wrapper {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.product-item-4-wrapper:hover .product-item-4-button {
  bottom: 0;
}
.product-item-4-wrapper:hover .product-item-4-image-main {
  visibility: hidden;
  opacity: 0;
}
.product-item-4-wrapper:hover .product-item-4-image-hover {
  transform: scale(1.1);
  visibility: visible;
}
.product-item-4-image a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.product-item-4-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.product-item-4-image-main {
  visibility: visible;
  opacity: 1;
  position: relative;
  inset: 0;
  z-index: 200;
  transition-property: visibility, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.product-item-4-image-hover {
  transform: scale(1);
  visibility: hidden;
  position: absolute;
  inset: 0;
  z-index: 100;
  transition-property: transform, visibility;
  transition-duration: 1.5s;
  transition-timing-function: ease;
}
.product-item-4-button {
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background-color: rgba(26, 44, 117, 0.9);
  position: absolute;
  left: 0;
  bottom: -45px;
  z-index: 300;
  transition: all ease 0.2s;
  overflow: hidden;
}
.product-item-4-button:hover {
  background-color: #3583f5;
}
.product-item-4-button:hover span {
  transform: translateY(-30px);
}
.product-item-4-button:hover span::before {
  transform: translateY(30px);
}
.product-item-4-button span {
  display: inline-block;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  transform: translateY(0);
  transition: all ease 0.3s;
}
.product-item-4-button span::before {
  content: "Liên hệ";
  display: block;
  font-weight: 600;
  text-align: center;
  position: absolute;
  inset: 0;
  transform: translateY(30px);
  transition: transform ease 0.3s;
}
.product-item-4-title h3 {
  text-align: center;
  margin-top: 8px;
  cursor: pointer;
}
.product-item-4-title h3 a {
  display: inline-block;
  width: 100%;
  padding-inline: 20px;
  font-family: "Inter", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  vertical-align: baseline;
  text-wrap: wrap;
}
.product-item-4-title h3 a:hover {
  color: #1e73be;
}

.title-wrapper {
  display: flex;
}
.title-wrapper {
  flex-direction: column;
}
.title-wrapper {
  align-items: center;
}
.title-wrapper {
  justify-content: center;
}
.title-wrapper {
  gap: 12px;
}
.title-wrapper .subtitle {
  background-color: #1a2c75;
  color: #fff;
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .title-wrapper .subtitle {
    font-size: 14px;
    font-weight: 600;
  }
}
.title-wrapper .title {
  font-size: 24px;
  color: #1a2c75;
  text-transform: inherit;
  font-weight: 600;
  text-align: center;
}
.title-wrapper .title-after {
  text-align: center;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  line-height: 26px;
}
@media screen and (max-width: 576px) {
  .title-wrapper .title-after {
    width: 100%;
  }
}

.page-title-wrapper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  padding-block: 40px;
}
.page-title-entry {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.title-child {
  margin-top: unset;
  margin-bottom: unset;
  background-image: url("../../images/hosting/background-title-child-categories.jpg");
  background-position: center;
  background-size: cover;
}
.title-child-wrapper {
  display: flex;
}
.title-child-wrapper {
  flex-direction: column;
}
.title-child-wrapper {
  align-items: stretch;
}
.title-child-wrapper {
  justify-content: space-between;
}
.title-child-wrapper {
  padding-block: 40px;
}
@media screen and (max-width: 768px) {
  .title-child-wrapper {
    padding-block: 20px;
  }
}
@media screen and (max-width: 576px) {
  .title-child-wrapper {
    padding-inline: 10px;
  }
}
.title-child-title {
  display: flex;
}
.title-child-title {
  flex-direction: row;
}
.title-child-title {
  align-items: center;
}
.title-child-title {
  justify-content: center;
}
.title-child-title {
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .title-child-title {
    padding-inline: 10px;
  }
}
.title-child-back {
  display: inline-block;
}
@media screen and (max-width: 992px) {
  .title-child-back {
    display: none;
  }
}
.title-child-back a {
  display: block;
  line-height: 36px;
  padding-inline: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}
.title-child-heading {
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: clamp(1.6rem, 4.5vw, 2.5rem);
  line-height: clamp(2.3rem, 7vw, 4rem);
}
.title-child-menu {
  margin-top: 15px;
  text-align: center;
}
.title-child-menu-btn {
  background-color: unset;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  font-size: clamp(1.3rem, 2vw, 2rem);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .title-child-menu-btn {
    display: none;
  }
}
.title-child-menu-btn i.fa {
  margin-left: 10px;
  transform: rotateX(0deg);
  transition: transform ease 0.3s;
}
.title-child-menu-btn i.fa-show {
  transform: rotateX(180deg);
}
.title-child-list {
  margin-top: 10px;
}
.title-child-list {
  display: flex;
}
.title-child-list {
  flex-direction: row;
}
.title-child-list {
  align-items: center;
}
.title-child-list {
  justify-content: center;
}
.title-child-list {
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .title-child-list {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    max-height: 0px;
    transition: all linear 0.3s;
    overflow: hidden;
  }
}
.title-child-item {
  flex: 0 0 20%;
}
@media screen and (max-width: 1200px) {
  .title-child-item {
    flex: 0 0 25%;
  }
}
@media screen and (max-width: 768px) {
  .title-child-item {
    width: 100%;
    padding-inline: 20px;
    padding-block: 15px;
  }
  .title-child-item:first-child {
    padding-top: 20px;
  }
  .title-child-item:last-child {
    padding-bottom: 20px;
  }
}
.title-child-item-link {
  text-align: left;
}
.title-child-item-link {
  display: flex;
}
.title-child-item-link {
  flex-direction: row;
}
.title-child-item-link {
  align-items: center;
}
.title-child-item-link {
  justify-content: flex-start;
}
.title-child-item-link {
  gap: 8px;
}
@media screen and (max-width: 768px) {
  .title-child-item-link {
    align-items: stretch;
    width: 100%;
  }
}
.title-child-item-image {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.title-child-item-image {
  border-radius: 4px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .title-child-item-image {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
.title-child-item-text {
  display: flex;
}
.title-child-item-text {
  flex-direction: column;
}
.title-child-item-text {
  align-items: stretch;
}
.title-child-item-text {
  justify-content: flex-start;
}
.title-child-item-text {
  gap: 4px;
}
@media screen and (max-width: 768px) {
  .title-child-item-text {
    justify-content: space-between;
  }
}
.title-child-item-name {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2rem;
}
@media screen and (max-width: 768px) {
  .title-child-item-name {
    font-size: 16px;
  }
}
.title-child-item-count {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .title-child-item-count {
    font-size: 16px;
  }
}

.topbar {
  height: 30px;
  background-color: #1a2c75;
}
@media screen and (max-width: 576px) {
  .topbar {
    height: fit-content;
    padding-block: 6px;
  }
  .topbar h1 {
    text-wrap: wrap;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    padding-inline: unset;
  }
}
.header-heading p,
.header-heading span,
.header-heading h1 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  margin-block: unset;
}
.header-main {
  display: flex;
}
.header-main {
  flex-direction: row;
}
.header-main {
  align-items: stretch;
}
.header-main {
  justify-content: space-between;
}
.header-main {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .header-main {
    flex-direction: column;
    row-gap: 28px;
    padding-bottom: 0px;
  }
}
.header-left {
  max-width: 250px;
  flex: 0 0 250px;
}
@media screen and (max-width: 992px) {
  .header-left {
    flex: 0 0 100%;
    max-width: 100%;
    padding-block: 4px;
  }
}
.header-right {
  max-width: 250px;
}
.header-right {
  display: flex;
}
.header-right {
  flex-direction: row;
}
.header-right {
  align-items: center;
}
.header-right {
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .header-right {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: space-between;
    padding-inline: 15px;
    padding-block: 4px;
  }
}
@media screen and (max-width: 768px) {
  .header-right {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}
.header-right-menu {
  background-color: unset;
  border: unset;
  padding-block: 8px;
  padding-right: 15px;
  color: #333;
  font-size: 18px;
  transition: color ease 0.2s;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 992px) {
  .header-right-menu {
    display: block;
  }
}
.header-right-menu:hover {
  color: #bfd2d7;
}
.header-right-menu span {
  margin-left: 6px;
  color: inherit;
  font-size: inherit;
  font-weight: 500;
}
.header-right-hotline {
  display: flex;
}
.header-right-hotline {
  flex-direction: row;
}
.header-right-hotline {
  align-items: center;
}
.header-right-hotline {
  justify-content: center;
}
.header-right-hotline {
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: initial;
  border-radius: 8px;
  background-color: #1a2c75;
}
.header-right-hotline-text {
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .header-right-hotline-text {
    display: none;
  }
}
.header-right-hotline i {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-right-hotline {
    justify-content: flex-end;
    background-color: unset;
    color: #1a2c75;
    font-weight: 600;
    font-size: 18px;
    text-align: right;
  }
  .header-right-hotline i {
    display: inline-block;
    margin-right: 8px;
    font-size: 24px;
  }
}
.header-logo {
  display: block;
  max-width: 250px;
}
@media screen and (max-width: 992px) {
  .header-logo {
    margin: 0 auto;
  }
}
.header-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-nav {
  background-color: #1a2c75;
}
@media screen and (max-width: 992px) {
  .menu-nav {
    background-color: #fff;
    overflow-y: auto;
    width: 40vw;
    height: 100vh;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.5s;
  }
  .menu-nav-show {
    left: 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .menu-nav {
    width: 50vw;
  }
}
@media screen and (max-width: 576px) {
  .menu-nav {
    width: 70vw;
    min-width: fit-content;
  }
}
.menu-close {
  border: none;
  width: 30px;
  height: 30px;
  margin-left: 86%;
  margin-top: 10px;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .menu-close {
    display: none;
  }
}

.menu {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  color: #fff;
}
.menu {
  display: flex;
}
.menu {
  flex-direction: row;
}
.menu {
  align-items: center;
}
.menu {
  justify-content: space-evenly;
}
.menu {
  gap: 15px;
}
@media screen and (max-width: 992px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: unset;
    width: 100%;
  }
}
.menu-item {
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .menu-item {
    width: 100%;
    cursor: pointer;
  }
}
@media screen and (max-width: 992px) {
  .menu-item:first-child .menu-item-wrapper {
    border: unset;
  }
}
.menu-item-wrapper {
  display: flex;
}
.menu-item-wrapper {
  flex-direction: row;
}
.menu-item-wrapper {
  align-items: center;
}
.menu-item-wrapper {
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .menu-item-wrapper {
    align-items: unset;
    border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
    padding-left: 15px;
  }
}
.menu-item-link {
  flex: 0 0 auto;
  padding: 10px;
  display: inline-block;
}
@media screen and (max-width: 992px) {
  .menu-item-link {
    display: block;
    padding-block: unset;
    line-height: 45px;
  }
}
.menu-item-text {
  color: #fff;
  font-weight: 700;
  line-height: 22px;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .menu-item-text {
    color: #1a2c75;
  }
}
.menu-item-icon {
  flex: 1 1 auto;
  display: block;
  min-height: 100%;
}
@media screen and (max-width: 992px) {
  .menu-item-icon {
    margin-right: 1px;
    line-height: 45px;
    max-width: 50px;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1019607843);
    pointer-events: none;
    transition: all linear 0.3s;
  }
}
.menu-item-arrow {
  color: #fff;
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.5s cubic-bezier(0.2, 1, 0.2, 1), transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}
@media screen and (max-width: 992px) {
  .menu-item-arrow {
    pointer-events: none;
    color: #1a2c75;
    transform: rotate(-90deg);
  }
}

.menu-item:hover .menu-item-arrow {
  transform: rotateX(180deg);
}
@media screen and (max-width: 992px) {
  .menu-item:hover .menu-item-arrow {
    transform: rotate(-90deg);
  }
}
.menu-item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.icon-show {
  background-color: #1a2c75;
  color: #fff;
}
.icon-show .menu-item-arrow {
  transform: unset !important;
  color: inherit;
}

.sub-menu {
  background-color: #fff;
  border-radius: 12px;
  max-width: 300px;
  width: fit-content;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 500;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s cubic-bezier(0.2, 1, 0.2, 1), visibility 0.5s cubic-bezier(0.2, 1, 0.2, 1), transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
}
@media screen and (max-width: 992px) {
  .sub-menu {
    visibility: unset;
    opacity: unset;
    transform: unset;
    transition: all linear 0.3s;
    position: static;
    width: 100%;
    max-width: unset;
    border-radius: unset;
    box-shadow: unset;
    max-height: 0px;
  }
}
.sub-menu-item {
  background-color: #fff;
  transition: all linear 0.3s;
}
@media screen and (max-width: 992px) {
  .sub-menu-item {
    padding-left: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  }
}
.sub-menu-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.sub-menu-item:last-child {
  border-bottom: unset;
}
.sub-menu-item-link {
  padding: 10px 16px;
}
.sub-menu-item-link {
  display: flex;
}
.sub-menu-item-link {
  flex-direction: row;
}
.sub-menu-item-link {
  align-items: center;
}
.sub-menu-item-link {
  justify-content: flex-start;
}
.sub-menu-item-link {
  gap: 8px;
}
@media screen and (max-width: 992px) {
  .sub-menu-item-link {
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
  }
}
.sub-menu-item-image {
  max-width: 30px;
  border-radius: 4px;
  object-fit: cover;
  height: 100%;
}
.sub-menu-item-text {
  color: #1a2c75;
  font-size: 14px;
  text-wrap: nowrap;
  font-weight: 600;
}
.sub-menu-item:hover {
  background-color: #ddd;
}
@media screen and (max-width: 992px) {
  .sub-menu-item:hover {
    background-color: unset;
  }
}

.prefooter {
  margin-bottom: unset;
  background-color: #121b38;
  padding-block: 40px;
}
.prefooter .subtitle {
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  .prefooter .title-wrapper {
    gap: unset;
  }
}
.prefooter .title-wrapper .title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .prefooter .title-wrapper .title {
    font-size: 20px;
    margin-block: 10px;
  }
}
.prefooter .title-wrapper .subtitle {
  padding: 10px 18px;
}
@media screen and (max-width: 576px) {
  .prefooter .title-wrapper .subtitle {
    padding-block: unset;
    font-size: 16px;
  }
}
.prefooter .title-after {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  line-height: 28px;
}
@media screen and (max-width: 576px) {
  .prefooter .title-after {
    margin-top: unset;
    text-align: center;
    text-align-last: center;
  }
}
.prefooter-mail {
  color: #fff;
  height: 40px;
  margin-top: 20px;
}
.prefooter-mail {
  display: flex;
}
.prefooter-mail {
  flex-direction: row;
}
.prefooter-mail {
  align-items: center;
}
.prefooter-mail {
  justify-content: space-between;
}
.prefooter-mail {
  gap: 10px;
}
@media screen and (max-width: 576px) {
  .prefooter-mail {
    display: block;
    height: unset;
    text-align: center;
  }
}
.prefooter-input {
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .prefooter-input {
    height: 40px;
  }
}
.prefooter-submit {
  background-color: #1a2c75;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #1a2c75;
  min-width: 150px;
  height: 100%;
  cursor: pointer;
}
.prefooter-submit:hover {
  background-color: #fff;
  color: #1a2c75;
  border-color: #fff;
}
@media screen and (max-width: 576px) {
  .prefooter-submit {
    margin-top: 15px;
    height: 40px;
  }
}

.footer {
  background-color: #1a2c75;
  padding-top: 40px;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 300px auto 250px;
  column-gap: 20px;
}
@media screen and (max-width: 992px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.footer-column-mid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
}
@media screen and (max-width: 992px) {
  .footer-column-mid {
    height: fit-content;
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .footer-column-mid {
    grid-template-columns: auto;
    row-gap: 20px;
  }
}
.footer-header {
  font-weight: 700;
  color: #333;
  background-color: #bfd1d7;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 15px;
  margin-bottom: 0px;
}
.footer-download {
  display: flex;
}
.footer-download {
  flex-direction: row;
}
.footer-download {
  align-items: stretch;
}
.footer-download {
  justify-content: center;
}
.footer-download {
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .footer-download {
    flex-direction: column-reverse;
  }
}
.footer-download-btn {
  background-color: #99a8a1;
  border-radius: 4px;
  border: unset;
  width: 100px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color linear 0.2s;
}
.footer-download-btn:hover {
  background-color: #b59d78;
}
@media screen and (max-width: 576px) {
  .footer-download-btn {
    width: 100%;
    margin-inline: auto;
  }
}
.footer-download span {
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .footer-download span {
    text-align: left;
  }
}
@media screen and (max-width: 992px) {
  .footer-social {
    margin-top: unset;
  }
}
@media screen and (max-width: 576px) {
  .footer-social {
    margin-inline: auto;
  }
}
.footer-social-header {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: unset;
}
@media screen and (max-width: 768px) {
  .footer-social-header {
    text-align: left;
    margin-top: 20px;
  }
}
.footer-social-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
  max-width: fit-content;
}
@media screen and (max-width: 576px) {
  .footer-social-list {
    display: flex;
  }
  .footer-social-list {
    flex-direction: row;
  }
  .footer-social-list {
    align-items: center;
  }
  .footer-social-list {
    justify-content: flex-start;
  }
  .footer-social-list {
    gap: 10px;
  }
  .footer-social-list {
    flex-wrap: wrap;
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .footer-social-list {
    max-width: unset;
  }
}
.footer-social-list-item {
  display: flex;
}
.footer-social-list-item {
  flex-direction: row;
}
.footer-social-list-item {
  align-items: center;
}
.footer-social-list-item {
  justify-content: center;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.footer-social-list-item {
  border-radius: 100rem;
  border: 1px solid #fff;
  background-color: #1a2c75;
  transition: all linear 0.3s;
  cursor: pointer;
}
.footer-social-list-item a {
  color: #fff;
}
.footer-social-list-item:hover {
  background-color: #c1a887;
}
.footer-social-list-item:hover i {
  color: #1a2c75;
}
@media screen and (max-width: 992px) {
  .footer-social-list-item:hover {
    background-color: initial;
  }
}
.footer-logo {
  display: block;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .footer-logo {
    max-width: 450px;
  }
}
.footer-legal-header {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin-block: unset;
}
@media screen and (max-width: 992px) {
  .footer-legal-header {
    margin-top: unset;
  }
}
.footer-legal-wrapper {
  display: flex;
}
.footer-legal-wrapper {
  flex-direction: column;
}
.footer-legal-wrapper {
  align-items: flex-start;
}
.footer-legal-wrapper {
  justify-content: center;
}
.footer-legal-wrapper {
  gap: 10px;
}
.footer-legal-wrapper a {
  border-radius: 12px;
  display: block;
  max-width: 200px;
  overflow: hidden;
}
.footer-legal-wrapper a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-contact {
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 8px;
}
.footer-contact-text {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-wrap: nowrap;
  padding-left: 6px;
}
.footer-contact-image {
  margin-top: 8px;
}
.footer-contact-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .footer-contact {
    max-width: 300px;
    margin-top: 8px;
  }
}
.footer-copy {
  margin-top: 40px;
  padding-block: 15px;
  border-top: 1px solid #fff;
}
.footer-copy p {
  text-align: center;
  color: #fff;
}

.footer-inner-wrapper .footer-info-list-item {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  margin-block: 6px;
}
.footer-inner-wrapper .footer-info-list-item span {
  font-weight: 600;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-wrap: wrap;
}
.footer-inner-wrapper .footer-info-list-item i.fa {
  margin-right: 10px;
  font-size: 18px;
}
.footer-inner-wrapper .footer-info-list-item a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.footer-inner-list .footer-info-list {
  border: 1px solid #2b5089;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.footer-inner-list .footer-info-list-item {
  color: #fff;
  background-color: #1a2c75;
  border-top: 1px solid #2b5089;
  transition: all linear 0.2s;
}
.footer-inner-list .footer-info-list-item:hover {
  background-color: #c1a887;
}
.footer-inner-list .footer-info-list-item:hover a {
  color: #1a2c75;
}
@media screen and (max-width: 992px) {
  .footer-inner-list .footer-info-list-item:hover {
    background-color: initial;
  }
  .footer-inner-list .footer-info-list-item:hover a {
    color: inherit;
  }
}
.footer-inner-list .footer-info-list-item a {
  display: block;
  padding-block: 12px;
  padding-left: 12px;
  color: inherit;
  font-size: 15px;
  transition: color linear 0.2s;
}
.footer-inner-list .footer-info-list-item a span {
  font-weight: 600;
  color: inherit;
  font-size: inherit;
  text-wrap: nowrap;
}

.footer-column-1 .footer-inner-wrapper {
  display: flex;
}
.footer-column-1 .footer-inner-wrapper {
  flex-direction: column;
}
.footer-column-1 .footer-inner-wrapper {
  align-items: stretch;
}
.footer-column-1 .footer-inner-wrapper {
  justify-content: space-between;
}
.footer-column-1 .footer-inner-wrapper {
  gap: 10px;
}
@media screen and (max-width: 992px) {
  .footer-column-1 {
    max-width: 500px;
  }
}

.footer-column-4 {
  display: flex;
}
.footer-column-4 {
  flex-direction: column;
}
.footer-column-4 {
  align-items: stretch;
}
.footer-column-4 {
  justify-content: space-between;
}
.footer-column-4 {
  gap: 15px;
}

.footer-column-5 .footer-inner-wrapper {
  height: 100%;
}
.footer-column-5 .footer-inner-wrapper {
  display: flex;
}
.footer-column-5 .footer-inner-wrapper {
  flex-direction: column;
}
.footer-column-5 .footer-inner-wrapper {
  align-items: stretch;
}
.footer-column-5 .footer-inner-wrapper {
  justify-content: space-between;
}
.footer-column-5 .footer-inner-wrapper {
  gap: 10px;
}
@media screen and (max-width: 992px) {
  .footer-column-5 .footer-inner-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .footer-column-5 .footer-inner-wrapper {
    grid-template-columns: 30% 40% 30%;
    row-gap: 10px;
  }
}
@media screen and (max-width: 576px) {
  .footer-column-5 .footer-inner-wrapper {
    grid-template-columns: auto;
  }
}

.footer-modal {
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  position: fixed;
  inset: 0;
  z-index: 700;
}
@media screen and (max-width: 992px) {
  .footer-modal-show {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes cta-ring-animate {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes cta-fade-scale {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
.cta-bar {
  list-style: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 400;
}
@media screen and (max-width: 600px) {
  .cta-bar {
    margin-bottom: 0;
    padding-left: 0;
  }
}

.cta-item.cta-zalo .cta-ring {
  bottom: -20px;
}
.cta-item.cta-zalo .cta-ring-circle {
  border: 2px solid #3583f5;
}
.cta-item.cta-zalo .cta-ring-circle-fill {
  background-color: #3583f5;
  opacity: 0.5;
}
.cta-item.cta-zalo .cta-ring-img-circle {
  background-color: #3583f5;
}
.cta-item.cta-mess {
  display: block;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  margin-left: 30px;
}
.cta-item.cta-mess .cta-messenger-link {
  border-radius: 12px;
  overflow: hidden;
  display: block;
}
.cta-item .scrollToTop {
  display: flex;
}
.cta-item .scrollToTop {
  flex-direction: row;
}
.cta-item .scrollToTop {
  align-items: center;
}
.cta-item .scrollToTop {
  justify-content: center;
}
.cta-item .scrollToTop {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.cta-item .scrollToTop {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #333;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 350;
}

.cta-ring {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  transition: all ease-in-out 0.5s;
}
.cta-ring-circle {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 100%;
  border: 2px solid #e60808;
  animation: cta-fade-scale 1.2s infinite ease-in-out;
  transition: all 0.5s;
  transform-origin: 50% 50%;
  opacity: 0.4;
}
.cta-ring-circle-fill {
  width: 55px;
  height: 55px;
  top: 25px;
  left: 25px;
  position: absolute;
  background-color: rgba(230, 8, 8, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  animation: cta-ring-animate 2.3s infinite ease-in-out;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}
.cta-ring-img-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e60808;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 33px;
  left: 33px;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  animation: cta-ring-animate 1s infinite ease-in-out;
  transform-origin: 50% 50%;
}

.cta-section-title .title-wrapper .cta-title {
  text-transform: none !important;
}

/*# sourceMappingURL=main.css.map */
