- 
  var noti = [
    {
      image: "../inc/modules/notify/images/khach-hang-1.jpg",
      name: "anh Hoàng Nguyên",
      title: "Shop giao hàng rất nhanh, mình sẽ ủng hộ thêm nữa.",
      time: "7 phút trước"
    },
    {
      image: "../inc/modules/notify/images/khach-hang-1.jpg",
      name: "anh Hoàng Nguyên",
      title: "Shop giao hàng rất nhanh, mình sẽ ủng hộ thêm nữa.",
      time: "7 phút trước"
    },
    {
      image: "../inc/modules/notify/images/khach-hang-1.jpg",
      name: "anh Hoàng Nguyên",
      title: "Shop giao hàng rất nhanh, mình sẽ ủng hộ thêm nữa.",
      time: "7 phút trước"
    },
  ]
//- HTML Noti
.noti
  each customer in noti 
    .noti-avatar 
      img(src=customer.image, alt="khách hàng")
    .noti-content 
      p.noti-title=customer.name
      p.noti-paragraph=customer.title 
      span.noti-time=customer.time 
//- Script Noti
script(src="../js/libs/notification.js")