@use "../abstracts" as *;
// CSS Product 01
.product-item-1 {
  &-wrapper {
    border-radius: $border12;
    box-shadow: $shadow2;
    position: relative;
    overflow: hidden;
    &:hover {
      .product-item-1 {
        &-image img {
          transform: scale(1.1);
        }
        &-hover {
          opacity: 1;
        }
        &-content {
          visibility: visible;
        }
        &-button {
          visibility: visible;
          opacity: 1;
          @include maxWidth($large) {
            transform: unset;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    @include maxWidth($large) {
      box-shadow: unset;
      padding: 5px;
    }
  }
  &-link {
    display: block;
    position: relative;
  }
  &-image {
    aspect-ratio: 1/1;
    border-radius: $border12;
    overflow: hidden;
    @include maxWidth($large) {
      box-shadow: $shadow2;
    }
    img {
      width: 100%;
      border-radius: $border12;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform ease 0.3s;
    }
  }
  &-hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: absolute;
    inset: 0;
    transition: opacity ease-in-out 0.3s;
    @include flexbox(column, center, center, null);
    @include maxWidth($large) {
      background-color: unset;
      position: static;
      opacity: unset;
    }
  }
  &-content {
    height: fit-content;
    padding: 20px;
    visibility: hidden;
    @include maxWidth($large) {
      padding-inline: 4px;
      visibility: visible;
      padding: unset;
    }
  }
  &-title {
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;
    padding-inline: 10px;
    color: #fff;
    @include maxWidth($large) {
      margin-top: 10px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin-bottom: unset;
      color: $primaryColor;
      font-weight: 700;
      font-size: 15px;
      padding-inline: 10px;
      overflow: hidden;
    }
    @include maxWidth($small) {
      padding-inline: unset;
      text-align: left;
    }
  }
  &-button {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 8px 12px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: all ease 0.3s;
    span {
      color: #fff;
      font-weight: 600;
      font-size: 14px;
    }
    @include maxWidth($large) {
      margin-top: 10px;
      margin-inline: auto;
      border: unset;
      background-color: $primaryColor;
      opacity: unset;
      visibility: visible;
      transform: unset;
      position: static;
      &:hover {
        background-color: $secondColor;
      }
    }
  }
}
// CSS Product 02
.product-item-2 {
  &-wrapper {
    & {
      border-radius: $border12;
    }
    @include flexbox(column, center, center, 10px);
  }
  &-image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: $border12;
    box-shadow: $shadow2;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all ease 0.3s;
    }
  }
  &-title {
    color: $primaryColor;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3rem;
    padding-inline: 8px;
    text-align: center;
    transition: color ease 0.2s;
    &:hover {
      color: $secondColor;
    }
    @include maxWidth($medium) {
      @include webkitBox(2);
    }
    @include maxWidth($small) {
      font-size: 14px;
    }
  }
  &-cats {
    color: $secondColor;
    font-size: 12px;
    font-weight: 500;
    padding-inline: 8px;
    text-align: center;
    width: 100%;
  }
}
// CSS Product 03
.product-item-3 {
  &-wrapper {
    @include flexbox(column, flex-start, space-between, null);
    & {
      background-color: #fff;
      border-radius: $border12;
      box-shadow: $shadow;
      min-width: 300px;
      overflow: hidden;
      max-height: 380px;
      position: relative;
    }
    @include maxWidth($large) {
      min-width: unset;
    }
    &:hover {
      .product-item-3 {
        &-hover {
          transform: translateY(-60px);
        }
        &-image {
          &-first {
            visibility: hidden;
            opacity: 0;
          }
          &-last {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  &-link {
    display: block;
    width: 100%;
  }
  &-image {
    border-top-left-radius: $border12;
    border-top-right-radius: $border12;
    height: 300px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
    &-first {
      visibility: visible;
      opacity: 1;
      transition: all linear 0.3s;
      position: absolute;
      inset: 0;
      z-index: 100;
    }
    &-last {
      transform: scale(1);
      transition: all linear 3s;
      transition-duration: 0.5s;
    }
  }
  &-hover {
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: $border12;
    border-bottom-right-radius: $border12;
    padding-top: 10px;
    transform: translateY(0);
    z-index: 500;
    transition: $transition;
  }
  &-content {
    @include flexbox(column, flex-start, space-between, 4px);
    & {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }
  &-title {
    @include flexbox(row, center, space-between, 15px);
    a {
      flex: 0 0 75%;
      color: $primaryColor;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      @include webkitBox(2);
    }
  }
  &-rating {
    flex: 1 1 25%;
    text-align: center;
    span {
      font-size: 14px;
      color: $primaryColor;
      font-weight: 700;
    }
    i.fa-star {
      color: #eabf12;
      font-size: 18px;
      margin-left: 8px;
    }
  }
  &-cate {
    a {
      color: $primaryColor;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &-btn {
    @include flexbox(row, center, space-between, 4px);
    & {
      width: 100%;
      margin-top: 10px;
    }
    &-hotline,
    &-zalo {
      color: #fff;
      border: none;
      outline: unset;
      border-radius: $border8;
      cursor: pointer;
      padding: 10px 12px;
      font-weight: 700;
      font-size: 15px;
      transition: all ease 0.2s;
      @include maxWidth($medium) {
        font-size: 12px;
        font-weight: 600;
      }
      &:hover {
        background-color: $primaryColor;
        color: #fff;
      }
    }
    &-zalo {
      background-color: #1e73be;
    }
    &-hotline {
      background-color: transparent;
      border: 1px solid $primaryColor;
      color: $primaryColor;
    }
  }
}
// CSS Product 04
.product-item-4 {
  &-item {
    overflow: hidden;
  }
  &-wrapper {
    border-radius: $border12;
    position: relative;
    overflow: hidden;
    &:hover {
      .product-item-4 {
        &-button {
          bottom: 0;
        }
        &-image {
          &-main {
            visibility: hidden;
            opacity: 0;
          }
          &-hover {
            transform: scale(1.1);
            visibility: visible;
          }
        }
      }
    }
  }
  &-image {
    a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
    &-main {
      visibility: visible;
      opacity: 1;
      position: relative;
      inset: 0;
      z-index: 200;
      transition-property: visibility, opacity;
      transition-duration: 1s;
      transition-timing-function: ease;
    }
    &-hover {
      transform: scale(1);
      visibility: hidden;
      position: absolute;
      inset: 0;
      z-index: 100;
      transition-property: transform, visibility;
      transition-duration: 1.5s;
      transition-timing-function: ease;
    }
  }
  &-button {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: rgba($color: $primaryColor, $alpha: 0.9);
    position: absolute;
    left: 0;
    bottom: -45px;
    z-index: 300;
    transition: all ease 0.2s;
    overflow: hidden;
    &:hover {
      background-color: #3583f5;
      span {
        transform: translateY(-30px);
        &::before {
          transform: translateY(30px);
        }
      }
    }
    span {
      display: inline-block;
      line-height: 40px;
      text-transform: uppercase;
      color: inherit;
      font-family: $font-primary;
      font-size: 13px;
      font-weight: 500;
      position: relative;
      transform: translateY(0);
      transition: all ease 0.3s;
      &::before {
        content: "Liên hệ";
        display: block;
        font-weight: 600;
        text-align: center;
        position: absolute;
        inset: 0;
        transform: translateY(30px);
        transition: transform ease 0.3s;
      }
    }
  }
  &-title {
    h3 {
      text-align: center;
      margin-top: 8px;
      cursor: pointer;
      a {
        display: inline-block;
        width: 100%;
        padding-inline: 20px;
        font-family: $font-primary;
        color: $textColor;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        vertical-align: baseline;
        text-wrap: wrap;
        &:hover {
          color: #1e73be;
        }
      }
    }
  }
}
