//- Start - Call to Action Bar
ul.cta-bar
  li.cta-item.cta-zalo
    a.cta-zalo-link(href="https://zalo.me/0963181517" target="_blank" rel="nofollow")
      .cta-ring
        .cta-ring-circle
        .cta-ring-circle-fill
        .cta-ring-img-circle
          img.img-fluid(src="../../images/icon/cta-zalo.svg" alt="Báo giá qua Zalo" width="65")
  li.cta-item.cta-phone
    a.cta-phone-link(href="tel:0963181517" rel="nofollow")
      .cta-ring
        .cta-ring-circle
        .cta-ring-circle-fill
        .cta-ring-img-circle
          img( src="../../images/icon/cta-phone.svg" alt="Gọi cho chúng tôi" width="18")
  li.cta-item.cta-mess
    a.cta-messenger-link(href="https://www.facebook.com/isoglass.vn" rel="nofollow" target="_blank")
      img( src="../../images/icon/messenger.gif" alt="Liên hệ trên Facebook" )
  li.cta-item
    a.scrollToTop(href="#header") 
      i.fa.fa-angle-up(data-hidden="true")
//- End - Call to Action Bar
